body {
    margin: unset;
    font-family: 'Roboto Mono', monospace;
}

.homePage {
    min-height: 100vh;
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
    display: flex;
    justify-content: flex-start;
    padding: 0px 5%;
    align-items: center;
}

.homePage .homeLogo {
    margin-left: auto;
    width: 40%;
    padding: 12px;
}

.homePage .container {
    width: 40%;
    display: flex;
    align-items: flex-start;
    flex-flow: column;
    color: white;
}

.container .descriptionHolder {
    font-size: 24px;
}

.descriptionHolder .highlight {
    text-shadow: 1px 1px 8px white;
}

.homePage .container h1 {
    font-size: 58px;
    margin-bottom: 24px;
    font-weight: 300;
    text-shadow: 1px 1px 8px #ffffff;
}

.container .ctaContainer {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 32px;
}

.ctaContainer .inputContainer {
    padding: 12px;
    border-radius: 8px;
    background: white;
}

.inputContainer .input {
    border: none;
    background: none;
    height: 100%;
    width: 100%;
}

.inputContainer .input:focus {
    outline: none;
}

.ctaContainer .closeIcon {
    margin-left: 8px;
    cursor: pointer;
}

.homePage .logo {
    width: 100%;
    margin-bottom: 24px;
}

.homePage .createRoom {
    padding: 12px 36px;
    font-size: 24px;
    margin-right: 12px;
    color: white;
    border-radius: 6px;
    border: none;
    background-color: #ff4e00;
    background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
    cursor: pointer;
}

.homePage .joinRoom {
    padding: 12px 36px;
    font-size: 24px;
    color: white;
    border-radius: 6px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    cursor: pointer;
}